{% extends "base.html" %}
{% block content %}
<div style="display:flex; padding: 2em; align-items:center;">
    <div style="flex:1; background-color:#f0f0f0; padding:2em; border-radius: 20px;">
        <h2>About Me</h2>
        <p>Hello! I'm a photography enthusiast who loves to capture the beauty of the world. Through my lens, I find stories in moments, light in shadows, and memories in details. Welcome to my visual diary.</p>
    </div>
    <div style="flex:1; text-align:right;">
        <img src="https://res.cloudinary.com/dpr0pl2tf/image/upload/v1754343392/pexels-samuel-walker-15032-569098_wm1kxg.jpg" style="width:80%; border-radius: 20px;">
    </div>
</div>
{% endblock %}



