{% extends 'base.html' %}

{% block content %}
<div class="about-container">
  <div class="about-text">
    <p>
      Hi, I’m Xia.<br><br>
      I’m a photography enthusiast from China,<br>
      currently at the beginning of my journey<br>
      behind the lens. I have a deep passion for<br>
      capturing people, nature, and the beauty<br>
      of fleeting moments. Through my photos,<br>
      I aim to freeze time, preserve memories,<br>
      and celebrate the simple joys of life.<br><br>
      This website is not only a collection<br>
      of my favorite shots, but also a visual<br>
      diary of my growth as a photographer.<br>
      I hope my work brings you a sense of<br>
      beauty and inspiration—let’s embrace<br>
      the magic in every moment, together.
    </p>
  </div>

  <div class="about-images">
    <img src="https://res.cloudinary.com/dpr0pl2tf/image/upload/v1754343392/pexels-samuel-walker-15032-569098_wm1kxg.jpg" alt="Portrait 1">
    <img src="https://res.cloudinary.com/dpr0pl2tf/image/upload/v1754516887/WechatIMG74_wxzsrb.jpg" alt="Portrait 2">
  </div>
</div>
{% endblock %}




