{% extends "base.html" %}
{% block title %}About - My Lens{% endblock %}

{% block content %}
<div class="about-container">
    <div class="about-text">
        <div class="text-box">
            <p>
                Hi, I’m Xia.I’m a photography enthusiast from China, currently at the beginning of my journey behind the lens. 
                I have a deep passion for capturing people, nature, and the beauty of fleeting moments. Through my photos, 
                I aim to freeze time, preserve memories, and celebrate the simple joys of life.This website is not only a 
                collection of my favorite shots, but also a visual diary of my growth as a photographer. I hope my work brings 
                you a sense of beauty and inspiration—let’s embrace the magic in every moment, together.
            </p>
        </div>
    </div>
    <div class="about-images">
        <img src="https://res.cloudinary.com/dpr0pl2tf/image/upload/v1754436085/pexels-caio-69971_agzln6.jpg" alt="About Image 1" class="about-image">
        <img src="https://res.cloudinary.com/dpr0pl2tf/image/upload/v1754634765/xhyy7vrtbnjzvnw2ghlc.jpg" alt="About Image 2" class="about-image">
    </div>
</div>
{% endblock %}






