<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Photo Albums</h1>
    <div class="album-container">
        {% for album in albums %}
        <div class="album-card">
            <a href="{{ url_for('view_album', album_name=album.name) }}">
                <img src="{{ album.cover }}" alt="Cover of {{ album.name }}">
                <h3>{{ album.name }}</h3>
            </a>
        </div>
        {% endfor %}
    </div>
</body>
</html>








