<!DOCTYPE html>
<html>
<head>
    <title>Albums</title>
</head>
<body>
    <h1>Albums</h1>
    <ul>
        {% for album in albums %}
        <li>
            <a href="{{ url_for('view_album', album_name=album.name) }}">
                {% if album.cover %}
                    <img src="{{ album.cover }}" width="200">
                {% else %}
                    <p>[No cover image]</p>
                {% endif %}
                <p>{{ album.name }}</p>
            </a>
        </li>
        {% else %}
        <p>No albums found.</p>
        {% endfor %}
    </ul>
</body>
</html>


