<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <nav class="navbar {% if request.endpoint == 'story' %}story-navbar{% endif %}">
        <ul class="navbar-menu">
            {% if request.endpoint == 'story' %}
            <div class="navbar-left">
                <li>📖 XiaCapture StoryCollection</li>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('albums') }}">Album</a></li>
                <li><a href="{{ url_for('story') }}">Story</a></li>
            </div>
            <div class="navbar-right">
                {% if logged_in %}
                    <li><a href="{{ url_for('upload_story') }}" class="upload-btn">+ Upload New Story</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
            </div>
            {% else %}
                <li>📖 XiaCapture StoryCollection</li>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('albums') }}">Album</a></li>
                <li><a href="{{ url_for('story') }}">Story</a></li>
                {% if logged_in %}
                    <li><a href="{{ url_for('upload_story') }}" class="upload-btn">+ Upload New Story</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>


