<nav class="navbar">
  <ul class="navbar-menu">
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li><a href="{{ url_for('about') }}">About</a></li>
    <li><a href="{{ url_for('albums') }}">Album</a></li>
    <li><a href="{{ url_for('story') }}">Story</a></li>
    <li><a href="{{ url_for('upload') }}">Upload</a></li>
    {% if logged_in %}
      <li><a href="{{ url_for('logout') }}">Logout</a></li>
    {% else %}
      <li><a href="{{ url_for('login') }}">Login</a></li>
    {% endif %}
  </ul>
</nav>



